:root {
  --primary-color: none;
  --overlay-color: rgba(255, 255, 240, 0.9);
  --menu-speed: 0.75s;
  --light-text-color: #444;
  --dark-text-color: #f8f8ff;
  --disabled-color: #504f4f;
  --dark-color: #211d01;
  --white-color: #fffff0;
  --link-color: #D4AF37;
  --active-color: #0F52BA;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a:hover {
  color: var(--active-color);
}

a {
  color: var(--link-color);
}

#root {
  height: inherit;
  flex-grow: 1;
}

body,
#root {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  background-color: var(--white-color);
  color: var(--dark-color);
}
