:root {
  --primary-color: none;
  --overlay-color: rgba(238, 238, 238, 0.9);
  --menu-speed: 0.75s;
  --light-text-color: #444;
  --dark-text-color: #eeeeee;
  --disabled-color: #504f4f;
  --black-color: #000;
  --white-color: #fff;
}

html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body,
#root {
  height: 100%;
  flex-grow: 1;
}

html,
body,
#root {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}
